<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body class="d-flex flex-column min-vh-100 bg-dark text-light">
    {{> header }}

    <main class="flex-grow-1">
        <section id="proyectos" class="container my-5">
            <h2 class="text-info text-center mb-4 mt-5">Proyectos</h2>
            <div class="row">
                <!-- Proyecto 1 -->
                <div class="col-md-4 mb-4">
                    <div class="card bg-secondary text-white rounded">
                        <a href="/restaurante"> 
                            <img src="/images/gestionrest.png" class="card-img-top" alt="Sistema de Gestión de Restaurantes">
                        </a>
                        <div class="card-body text-center">
                            <h3 class="card-title text-info">Sistema de Gestión de Restaurantes</h3>
                            <p class="card-text">Este proyecto es una aplicación web para la gestión de órdenes en un restaurante...</p>
                            <a href="/restaurante" class="btn btn-custom">Más detalles</a>
                        </div>
                    </div>
                </div>
                
                <!-- Proyecto 2 -->
                <div class="col-md-4 mb-4">
                    <div class="card bg-secondary text-white rounded">
                        <a href="/calculadora">
                            <img src="/images/Calculadora.jpeg" class="card-img-top" alt="Calculadora de Teoremas de Probabilidad">
                        </a>
                        <div class="card-body text-center">
                            <h3 class="card-title text-info">Calculadora de Teoremas de Probabilidad</h3>
                            <p class="card-text">Una calculadora en Java que facilita el cálculo de probabilidades complejas...</p>
                            <a href="/calculadora" class="btn btn-custom">Más detalles</a>
                        </div>
                    </div>
                </div>
                
                <!-- Proyecto 3 -->
                <div class="col-md-4 mb-4">
                    <div class="card bg-secondary text-white rounded">
                        <a href="/atm">
                            <img src="/images/ATM.jpeg" class="card-img-top" alt="Simulación de Cajero Automático">
                        </a>
                        <div class="card-body text-center">
                            <h3 class="card-title text-info">Simulación de Cajero Automático</h3>
                            <p class="card-text">Simulación de un cajero automático (ATM) en Java que conecta a una base de datos MySQL...</p>
                            <a href="/atm" class="btn btn-custom">Más detalles</a>
                        </div>
                    </div>
                </div>
                                <!-- Proyecto 4 -->
                <div class="col-md-4 mb-4">
                    <div class="card bg-secondary text-white rounded">
                        <a href="/mrumruv">
                            <img src="/images/princimru.jpeg" class="card-img-top" alt="calculadora mru mruv">
                        </a>
                        <div class="card-body text-center">
                            <h3 class="card-title text-info">Calculadora de MRU y MRUV</h3>
                            <p class="card-text">Es una calculadora que ayuda a resolver problemas de MRU y MRUV...</p>
                            <a href="/mrumruv" class="btn btn-custom">Más detalles</a>
                        </div>
                    </div>
                </div>
                                <!-- Proyecto 5 -->
                <div class="col-md-4 mb-4">
                    <div class="card bg-secondary text-white rounded">
                        <a href="/calculadorajubi">
                            <img src="/images/1jubi.jpeg" class="card-img-top" alt="Simulación de Cajero Automático">
                        </a>
                        <div class="card-body text-center">
                            <h3 class="card-title text-info">Calculadora de jubilación</h3>
                            <p class="card-text">Calcula la jubilación con sus descuentos y todo lo necesarios...</p>
                            <a href="/calculadorajubi" class="btn btn-custom">Más detalles</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    {{> footer }}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
