<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Mí</title>
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="d-flex flex-column min-vh-100 bg-dark text-light">
    {{> header }}

    <main class="flex-grow-1 d-flex justify-content-center align-items-center">
        <section id="sobre-mi" class="card text-center bg-secondary shadow-lg" style="width: 90%; max-width: 600px;">
            <div class="card-body">
                <h2 class="card-title text-center text-info animate__animated animate__fadeIn">Sobre Mí</h2>
                <p class="animate__animated animate__fadeIn"><strong>Nombres:</strong> Edwin Eduardo</p>
                <p class="animate__animated animate__fadeIn"><strong>Apellidos:</strong> Figueroa Santizo</p>
                <p class="animate__animated animate__fadeIn"><strong>Edad:</strong> 22 años</p>
                <p class="animate__animated animate__fadeIn"><strong>Universidad:</strong> Universidad Mariano Gálvez de Guatemala</p>
                <p class="animate__animated animate__fadeIn"><strong>Lenguajes y tecnologías principales:</strong> C++, C#, Java, HTML, CSS, JavaScript, React, Express, Node.js, SQL</p>
                <p class="animate__animated animate__fadeIn"><strong>Correo:</strong> efigueroas3@miumg.edu.gt</p>
                <p class="animate__animated animate__fadeIn">Me encanta aprender nuevas tecnologías y mejorar mis habilidades constantemente. Además de desarrollar en diversos lenguajes y frameworks, me interesa estar al día con las últimas tendencias en desarrollo web y prácticas de programación. Valoro la resolución de problemas de manera creativa y eficiente, y disfruto colaborar en equipo para crear soluciones tecnológicas innovadoras que aporten valor real. Mi objetivo es seguir creciendo en el campo de la tecnología y enfrentar nuevos desafíos que me permitan perfeccionar mis habilidades técnicas y contribuir al desarrollo de proyectos significativos.</p>
            </div>
        </section>
    </main>

    {{> footer }}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
